.banner-car-aboutUs{
    background-position: center;
    background-image: url(image/aboutUS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10% 0 10% 0;
    margin-top: 160px;
    }

.contact{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: auto;
   
}

.contact-table{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



.contact-list-3 #about-h2{
    text-align: center;
}
.contact-list-3 .team-image-row-1{
margin-bottom: 20px;
}
.contact-list-3 .team-image .team-image-row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.contact-list-3 .team-image .team-image-row-1 img{
    margin: 20px;
    width: 200px;
    border-radius: 50%;
}
.contact-list-3  #team-title-1{
    text-align: center;

    }
    
    .contact-list-3 #team-title-1 #driver{
        padding-left: 20px;
    }

.contact-list-3 .team-image .team-image-row-2 img{
    margin: 10px;
    width: 200px;
    border-radius: 50%;
}
.contact-list-3 .team-image .team-image-row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-list-3  #team-title-2{
    text-align: center;
    }
    
    .contact-list-3 #team-title-2 #driver{
        padding-left: 20px;
    }


.contact-details{
    width: 100%;
    height: 300px;
    
}
.contact-details tr td{
    border: 1px solid rgb(114, 113, 113);
    font-size: larger;
    
  
    
}
.contact-details tr .row1{
text-align: center;
}


.contact-list-4 .iframe-google-map{
    background-color: lightblue;
    width: 800px;
    height: 330px;
}

@media (max-width: 992px){
    .contact-list-1{
        width: 350px;
        height: auto;
        margin-bottom: 10px;    
    }
    .contact-list-2{
        width: 350px;
        height: auto;
        margin-bottom: 10px;    
    }
    .contact-list-3{
        width: 350px;
        height: auto;
        margin-bottom: 10px;    
    }
    .contact-list-3 #about-h2{
        text-align: center;
    }
    .contact-list-3 .team-image .team-image-row-1{
        padding-left: 60px;
    }
    .contact-list-3  #team-title-1{
        text-align: center;
    
        }
    .contact-list-3 .team-image .team-image-row-2{
        padding-left: 60px;
    }
    

    .contact-list-4 .iframe-google-map{
        width: 350px;
        height: auto;
        margin-bottom: 10px;    
    }
    .contact-list-4{
        width: 350px;
        height: auto;
        margin-bottom: 10px;    
    }
    .contact-list-5{
        width: 350px;
        height: auto;
        margin-bottom: 10px;    
    }
    .contact-list-6{
        width: 350px;
        height: auto;
        margin-bottom: 10px;    
    }
}


/* end About us*/

/* Start Contact us*/
.contact-us-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}
.contact-Us-main-list-1{
    background-color: green;
}

.contact-Us-main-list-1 .contact-us-list-1{
    margin: 20px 10px;

}
.contact-us-list-2{
    position: relative;
    margin: 20px;
    padding-bottom: 50px;
    background-color: #fff;
}



.contact-us-list-3{
margin: 20px;
}



.contact-us-list-3 .form-content iframe{
padding-left: 180px;
margin-top: 20px;
}
.contact-us-list-4{
margin: 20px;
 
}

@media(max-width: 992px){

  
    .form-content iframe{
        width: 500px;
        height: 870px;
        margin-left: -170px;

        }
        .contact-us-list-4 iframe{
            width: 350px;
            height: 250px;
            
             
            }

}
/* end Contact us*/

/* Start Promo Content*/
.promo-content{
    margin: 50px 80px;
    font-size: large;
    font-weight: 500;
}
@media(max-width: 992px){
    .promo-content{
        margin: 20px 20px;
        font-size: large;
        font-weight: 500;
    }
}


/* end Promo Content*/



/* start FAQ */

.container-About-us{
    font-size: 18px;
    font-weight: 600;
    background-color: red;
}
.section-faq{
  max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: black;
}
#accordion {
    margin: 40px auto;
    width: 100%;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
#accordion li label span{
    transition: rotate(100deg);
    font-size: 22px;
    color: #333;
}
#accordion label + input[type="radio"]{
    display: none;
}
#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    color: black;
    max-height: 0;
    font-size: larger;
    overflow: hidden;
    transition: max-heigth 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}
@media(max-width: 992px){

    .section-faq{
        margin: 10px 10px;
    }
    #accordion {
        width: 350px;       
       
    }

    #accordion .content{
        font-size: large;
    }

}
/* End FAQ */
/* Start terms and Conditions us*/

.terms-section-faq{
    max-width: 1200px;
    margin: 0 auto;
}

.terms-section-faq .terms{
   margin-top: 40px;
}



/* End terms and Conditions us*/
