
/*********************** Start  Main container Content, table content and facebook pages********************************/
.main-container{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.main-table-content-rigth{
  width: 100%;
  margin-inline: auto;
}

.main-table-content-left{
  width: 100%;
  margin-inline: auto;
 
}

/************* Start Table li ul id tag *****************/
#terms-and-inclusion{
  list-style: inside ;
}

#Excess-hour{
  list-style: none;
}

#Province-Termsandinclusions ul li{
  list-style: inside ;
}
/************* End Table li ul id tag *****************/

/*********************** Start Table container********************************/
.main-tabale-container h2{
  margin: 10px;
}

.table-container{
  width: 100%;
  overflow-x: scroll;
}

table{
  width: 100%;
  background-color: #323232; 
  padding: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  
}

caption{
  text-align: left;
  padding: 1rem;
  color: black;
}
th{
  background-color: hsla(0, 88%, 53%, 0.5);

}

tr:nth-of-type(2n){
  background-color: hsla(0, 9%, 98%, 0.5);
}
/*********************** End Table container********************************/

/*************Start Facebook pages iframe*****************/
.rigth-side-list-fb-post{
  width: 100%;
}

@media (min-width: 320px){

.rigth-side-list-fb-post iframe{
  width: 100%;
  
}
}
/*************End Facebook pages iframe*****************/



/*********************** Start  Main container Content, table content and facebook pages********************************/




/*********************** Start Main table content Left Form content and Similar tour********************************/


.main-table-content-left{
  width: 100%;
  
}

.form-content iframe{
  border: none;
  width: 100%;
  height: 2200px;
}


/*********************** End Main table content Left Form content and Similar tour********************************/


