/*Start Car and Van Rental*/

.contact-table{
max-width: 1200px;
margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    
}

.banner-car-rental{
    background-position: center;
    background-image: url(image/Cebu\ Car\ Rental.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10% 0 10% 0;
    margin-top: 120px;
    }


.form-content-rental{
    margin-top: 50px;
    padding-left: 90px;
}
.form-content-rental iframe{
    width: 600px;
    height: 1800px;
}

.rate-prov-main{
    width: 100%;
    height: auto;
    margin-inline: auto;
    overflow-x: scroll;
  
}



#rate-prov table tr td{
    display: fixed;
    border: 1px solid black;
    text-align: center;
}

tr{
    position: sticky;
    top: 0px;
}

#CityDrive-rate-prov table tr td{    
    position: sticky; 
      color: black;
      border: 1px solid black;
      font-size: large;
      margin-left: 10px;
  }

@media (max-width: 992px){

    .banner-car-rental{
      background-size: cover;  
       background-position: center right;
        
      
        }

    #rate-prov{
        min-height: 350px;
        margin-bottom: 10px;
        margin-left: -90px;
       
    }
    #rate-prov table tr td{    
        position: sticky; 
          color: black;
          font-size: small;
          margin-left: 10px;
      }
      .rate-prov-main{
        width: 350px;
        height: auto;
        margin-inline: auto;
    
    }
    .CityDrive-rate-prov-main{
        width: 350px;
        height: 200px;
    }

    #CityDrive-rate-prov{
        min-height: 350px;
        margin-bottom: 10px;
     
       
    }
    #CityDrive-rate-prov table tr td{    
        position: sticky; 
          color: black;
          font-size: small;
         
      }
  
    .form-content-rental iframe{
        width: 350px;
        height: 1800px;
    }
    .form-content-rental{
        padding-left: 20px;
    }


}


/*End Car and Van Rental*/

/*Start City limit Car and Van Rental*/

.City-limit-contact-table{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    
}
.CityDrive-rate-rental{
    width: 100%;
    height: 200px;
    
}
.CarRental-table-content{
    margin: 20px ;
}
.CarRental-image-selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 2rem;
}

.CarRental-image-selection img{
    width: 500px;
    height: 350px;
}

@media (max-width: 320px){
    .CarRental-image-selection img{
        width: 300px;
        height: 200px;
    }
}
@media (max-width: 375px){
    .CarRental-image-selection img{
        width: 300px;
        height: 200px;
    }
}
@media (max-width: 425px){
    .CarRental-image-selection img{
        width: 300px;
        height: 200px;
    }
}

.banner-car-aboutUs{
    background-position: center;
    background-image: url(image/aboutUS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10% 0 10% 0;
    margin-top: 160px;
    }
    @media (max-width: 992px){
        .banner-car-aboutUs{
            margin-top: 250px;
        }
    }


.banner-car-rental{
    background-position: center;
    background-image: url(image/Cebu\ Car\ Rental.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10% 0 10% 0;
    margin-top: 120px;
    }

.City-limit-list-1{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    min-height: 400px; 
    margin: 20px;
  
}

.contact-list-city-limit-1{
    width: 800px;
    height: auto;
    margin: 10px;
   
}
.contact-list-city-limit-2{
    width: 800px;
    height: auto;
    margin: 10px;
  
}
.City-limit-list-2{
    display:flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 800px;
    height: auto;
    margin-top: 20px;
  
   
}

.contact-list-city-limit-3{
    width: 800px;
    height: auto;
    margin: 10px;
}
.contact-list-city-limit-4{
    width: 800px;
    height: auto;
    margin: 10px;
  
}
.form-content-rental{
    margin-top: 50px;
    padding-left: 90px;
}
.form-content-rental iframe{
    width: 600px;
    height: 1800px;
}

.City-limit-rate-prov-main{
    width: auto;
    height: auto;
    padding-left: 20px;
  
}


#City-limit-rate-prov{
    min-height: 600px;
    font-size: x-small;
    margin: 20px;

 
}

#City-limit-rate-prov table tr td{
    display: fixed;
    border: 1px solid black;
    text-align: center;
}

tr{
    position: sticky;
    top: 0px;
}

@media (max-width: 992px){

    .banner-car-rental{
      background-size: cover;  
       background-position: center right;
        
      
        }

    #City-limit-rate-prov{
        min-height: 350px;
        margin-bottom: 10px;
        margin-left: -20px;
       
    }
    #City-limit-rate-prov table tr td{    
         width: auto;
         height: auto;
          color: black;
          font-size: small;
       
      }
      .City-limit-rate-prov-main{
        width: 350px;
        height: auto;
        margin: 10px;
    
    }
    .City-limit-list-1{
        width: 350px; 
        height: auto;
      
    }
    .contact-list-city-limit-1{
        width: 350px;
        height: auto;
      
    }
    .contact-list-city-limit-2{
        width: 350px;
        height: 250px;
      
    }

    .City-limit-list-2{
        width: 400px; 
        height: auto;
    
    }
    .contact-list-city-limit-3{
        width: 350px;
        height: auto;
      
    }
    .contact-list-city-limit-4{
        width: 350px;
        height: auto;
      
    }

    .form-content-rental iframe{
        width: 350px;
        height: 1800px;
    }
    .form-content-rental{
        padding-left: 40px;
    }

}



/*End City limit Car and Van Rental*/

  /*end How to book timeline*/
  .timeline-container {
    max-width: 1200px;
    margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

  
}
.timeline-main{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline-main .timeline-content img{
    width: 300px;
    height: 500px;
}



@media (max-width: 922px){
    .timeline-main .timeline-content img{
        width: 120px;
        height: 250px;
    }
    #booking-2{
        width: 120px;
        height: 320px;
    }

}
@media (max-width: 320px){
    .timeline-main .timeline-content img{
       
        width: 100px;
        height: 250px;
    }
  

}

.timeline-main ul {
  list-style: none;
}
.timeline-main ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline-main ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}


.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: normal;
  color: black;
  
}
  .timeline-main:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline-main ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline-main ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline-main ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline-main ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline-main ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline-main ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline-main ul li:hover::before {
    background-color: aqua;
  }

  

