<?xml version="1.0" encoding="UTF-8"?><CustomSearchEngine language="" safesearch="true" autocompletions="true" enable_promotions="false" top_refinements="-1">
  <Title>Kawasan Falls Canyoneering</Title>
  <Description>Kawasan Falls canyoneering is a famous multi-tiered waterfall system located in Badian, a town on the southwestern coast of Cebu Island in the Philippines. It is a major tourist destination know for its beautiful turquoise-blue water and is a popular spot for both relaxing and adventurous activities.</Description>
  <Context>
    <BackgroundLabels>
      <Label name="_include_" mode="FILTER"/>
      <Label name="_exclude_" mode="ELIMINATE"/>
    </BackgroundLabels>
  </Context>
  <LookAndFeel element_layout="8" theme="1" enable_cse_thumbnail="true" custom_theme="false" font="0">
    <Logo url="" destination="" height="30"/>
    <Widget query_parameter_name="q"/>
  </LookAndFeel>
  <ImageSearchSettings enable="true"/>
  <cse_advance_settings enable_facet_search="false">
    <web_search_options enable_history="true" show_structured_data="false">
      <search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""/>
    </web_search_options>
    <image_advanced_options default_to_image_search="false">
      <search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""/>
    </image_advanced_options>
    <search_options link_target=""/>
    <custom_search_control_options no_results_string=""/>
  </cse_advance_settings>
  <sort_by_keys label="Relevance" key=""/>
  <sort_by_keys label="Date" key="date"/>
  <autocomplete_settings source="2"/>
</CustomSearchEngine>
