*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    }
    
    
    /* banner 1 Section*/
    .banner-1{
        background-position: center;
        background-image: url(image/CCLEX.jpg);
        background-size: cover;
        background-attachment: fixed;
        padding-top: 10% 0 10% 0;
        margin-top: 120px;
        }
        
        .banner-highlights-1{
        padding: 12%;
        background: rgba(0,0,0,0.8);
        text-align: center;
        color: #fff;
        
        }
    
        .container-1 h2{
            font-size: 40px;
        }
    
        
        
        @media (max-width:991px){
        
        .container-1{
            padding-top: 20%;   
        }
        .banner-1{
            margin-top: 180px;
        }
        .container-1 h2{
            font-size: 20px;
        }
        .container-1 p{
            font-size: 14px;
        }
    }
    
   /* content Section*/
.container{
max-width: 1200px;
margin: 0 auto;
text-align: center;
}

.container .box-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
gap: 20px;
margin-top: 10%;
} 

.container .box-container .box{
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 5px 10px rgba(0,0,0,0.2 );
display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3){
display: inline-block;

}
.container .box-container .box:nth-child(4),
.container .box-container .box:nth-child(5),
.container .box-container .box:nth-child(6){
display: inline-block;

}

.container .box-container .box .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;

    }

    .container .box-container .box .image img{
height: 100%;
width: 100%;
object-fit: cover;

    }

    .container .box-container .box:hover .image img{
       transform: scale(1.1); 
    }

    .container .box-container .box .content-box h3{
font-size: 15px;
color: #777;
    }

    .container .box-container .box .content-box p{
        font-size: 20px;
        color: #333;
        line-height: 2;
        padding: 15px 0;
            }
.container .box-container .box .content-box .btn{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;

}

.container .box-container .box .content-box .btn:hover{
    background-color: crimson;
    border-color: crimson;
    color: #fff;
}

.container .box-container .box .content-box .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #334;
}

.container .box-container .box .content-box .icon span{
font-size: 14px;
color: #777;
}

.container .box-container .box .content-box .icon span i{
    color: rgb(44, 43, 43);
  
    }

    #load-more{
margin-top: 20px;
display: inline-block;
padding: 13px 40px;
border: 1px solid #334;
color: rgb(254, 254, 255);
font-size: 16px;
background-color: #ff0202;
cursor: pointer;

    }
    #load-more:hover{
        background-color: rgb(253, 17, 0);
        border-color: rgb(248, 248, 248);
        color: #fff;
    }
  


/* content end Section*/   

/*Slideshow*/

 .carousel {
    width: 400px;
    height: 360px;
    position: relative;
     margin-left: 35%;
     margin-top: 20px;
   
 
 }

 .carousel > ul {
margin: 0;
padding: 0;
list-style: none;

 }

 .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
 }

 .slide > img {
    display: block;
    width: 500px;
    height: 300px;
    margin-top: 0px;
    object-fit: cover;
    object-position: center;

 }

 .slide[data-active] {
opacity: 1;
 }

 .carousel-button {
position: absolute;
z-index: 2;
background: none;
border: none;
font-size: 4rem;
top: 20%;
transform: translateY(-5%);
color: rgba(12, 12, 12, 0.719);
cursor: pointer;
border-radius: .25rem;
padding: 0 .5rem;
background-color: #0000004d;
 }

 .carousel-button:hover,
 .carousel-button:focus {
    color: white;
    background-color: rgba(51, 51, 68, 0.486);
 }
.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {

    left: -4.8rem;
    margin-top: 40px;
}
.carousel-button.next {

    right: -11rem;
    margin-top: 40px;
}


@media only screen and (max-width: 992px){
    


    .carousel-button.prev{
        left: -2rem;
        margin-top: 60px;
    }
    .carousel-button.next{
        right: -14rem;
        margin-top: 60px;
    
    }
   

    .carousel-button:hover, 
    .carousel-button:focus {
        color: white;
        background-color: rgba(51, 51, 68, 0.486);
       
    }  

.carousel{
    width: 100px;
    height: 80px;
    margin: 20px auto 0 32%;
    }

    .slide > img {
        display: block;
        width: 300px;
        height: 200px;
        object-fit: cover;
        object-position: center;
    
     }

}
@media only screen and (max-width: 768px){
    

.carousel{
 
    width: 100px;
    height: 80px;
    margin: 20px auto 0 30%;
    }



}
@media only screen and (max-width: 600px){
    

    .carousel{
        width: 100px;
        height: 80px;
        margin: 20px auto 0 15%;
        }
    
    
    
    }

    

/*End Slideshow*/

/*Start Duration*/

 .Duration-time{
    padding-left: 28%;
    margin-bottom: 30px;
    
 }

.Duration-time ul li{
    display: inline; 
    margin: 40px; 
  
}

.Duration-time .fa-clock-o{
    font-size: 30px;
   
}
.Duration-time .fa-calendar{
    font-size: 30px;
   
}
.Duration-time .fa-close{
    font-size: 30px;
   
}



@media(max-width: 992px) {

     .Duration-time{
    padding-left: 22%;
    margin-top: 140px;   
     
 }


.Duration-time ul li{
    display: inline-block; 
    margin: 12px; 
    font-size: 12px;
}
.Duration-time .fa-clock-o{
    font-size: 20px;
   
}
.Duration-time .fa-calendar{
    font-size: 20px;
 
   
}
.Duration-time .fa-close{
    font-size: 20px;
   
}
}


@media(max-width: 600px) {

    .Duration-time{
        padding-left: 120px;
        margin-top: 140px;   
    }
    .Duration-time .fa-calendar{
        font-size: 20px;
        padding-left: 0px;
       
    }
}

@media(max-width: 768px){

    .Duration-time{
        margin-top: 140px; 
        padding-left: 150px;  
    
    }
    .Duration-time .fa-calendar{
        font-size: 20px;
       
    }


}


/*End Duration*/

/*Start table content*/
.Table-rate{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
   
}

.Table-rate tr td{
    border: 1px #777 solid;
    padding-left: 10px;
    
  }

    
  .table-content{
    padding: 40px 40px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    
    }

    .table-content ul li{
        margin: 10px;
        list-style: inside;
    }




    @media(max-width: 992px) {
        .table-content{
            padding: 10px 20px;

    }
    .table-content .rigth-side {
        margin: 20px;
       }
    .table-content .rigth-side {
        margin: 15px;
       }
   
    .list-rate-expect ul li iframe{
        width: 350px;
        height: 646px;
      
    }

}
@media(min-width: 992px) {
    .table-content .rigth-side {
     margin: 100px;
   
    }


}

@media(min-width: 768px) {
    .table-content .rigth-side {
     margin: 15px;
    }

}
@media(max-width: 768px) {
    .table-content .rigth-side {
     margin: 80px;
    
    }

.list-rate-expect ul li iframe{
    width: 350px;
    height: 646px;
  
}
}
@media(max-width: 1200px) {
    .table-content .rigth-side {
     margin: 100px;
   
    }

}

.list-1{

    flex: 1;
  
 
}


.sample li{
list-style: inside;

}
.saple iframe{
    width: 500px;
    height: 646px;

}

.list-expect{
    display: block;
}
.list-expect img{
    margin: 40px;
    width: 500px;
    height: 350px;
}

#list-expect-JVR img{
    width: 500px;
    height: 600px;
}

    .rigth-side{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
   
    }

    @media (max-width: 992px) {
        #list-expect-JVR img{
            width: 320px;
            height: auto;
        }
        .saple iframe{
            width: 350px;
            height: 200px;

        }
    }


    #form-content{
        width: 100%;
        height: 100vh;
        border: none;
            }
    
    .list-2{
        flex: 1;

    }



    @media(max-width: 992px) {
        .list-expect img{
            margin: 20px;
            width: 320px;
            height: 200px;
        }
        #form-content {
            background-color: #ffffff;
            width: 100%;
            height: 100vh;
            
    }
    }

 
 
    .container{
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        }
    
        .container .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        gap: 20px;
        } 
        
        .container .box-container .box{
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2 );
        display: none;
        }
        
        
        .container .box-container .box .image{
            margin-bottom: 20px;
            overflow: hidden;
            height: 250px;
            border-radius: 5px;
        
            }
        
            .container .box-container .box .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
            }
        
            .container .box-container .box:hover .image img{
               transform: scale(1.1); 
            }
        
            .container .box-container .box .content-box h3{
        font-size: 15px;
        color: #777;
            }
        
            .container .box-container .box .content-box p{
                font-size: 20px;
                color: #333;
                line-height: 2;
                padding: 15px 0;
                    }
        .container .box-container .box .content-box .btn{
            display: inline-block;
            padding: 10px 30px;
            border: 1px solid #334;
            color: #334;
            font-size: 16px;
        
        }
        
        .container .box-container .box .content-box .btn:hover{
            background-color: crimson;
            border-color: crimson;
            color: #fff;
        }
        
        .container .box-container .box .content-box .icon{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding-top: 15px;
            border-top: 1px solid #334;
        }
        
        .container .box-container .box .content-box .icon span{
        font-size: 14px;
        color: #777;
        }
        
        .container .box-container .box .content-box .icon span i{
            color: rgb(70, 67, 67);
          
            }
        
        
        /*end table content*/
      

        .accordion-distinaion{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: black;
        }
        #accordion-distinaion{
            margin: 40px auto;
            width: 100%;
        }

        #accordion-distinaion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
        }
        #accordion-distinaion li label{
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            background-color: #817e7e4f;
        }

        #accordion-distinaion li label span{
            transition: rotate(90deg);
            font-size: 22px;
            color: #333;
        }
        #accordion-distinaion label + input[type="radio"]{
            display: none;
        }
        #accordion-distinaion .destination-content{
            padding: 0 10px;
            line-height: 26px;
            color: black;
            max-height: 0;
            font-size: medium;
            overflow: scroll;
            transition: max-heigth 0.5s;
        
        }
     
        #accordion-distinaion .destination-content ul li{

         list-style: inside;
    
        }

        #accordion-distinaion label + input[type="radio"]:checked + .destination-content{
            max-height: 400px;
        }

        @media(max-width: 992px){

        
            #accordion-distination .destination-content{
             
                padding: 0 10px;
                line-height: 26px;
                color: black;
                max-height: 0;
                font-size: medium;
                overflow: hidden;
                transition: max-heigth 0.5s;
            }
        
        
        }


        /*hide and show*/
     


     