.main-container{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: red;
}

@media (min-width: 320px){
  .main-container{

    background-color: rgb(30, 255, 0);
  }
}

.main-table-content-rigth{
  width: 90%;
  margin-inline: auto;
  background-color: green;
}

.main-table-content-left{
  width: 90%;
  margin-inline: auto;
  background-color: aqua;
}

.table-container{
  width: 100%;
  overflow-x: scroll;
}

table{
  width: 100%;
  background-color: #323232; 
  padding: 1rem;
  
}

caption{
  text-align: left;
  padding: 1rem;
}
th{
  background-color: hsla(0, 13%, 87%, 0.5);
}

tr:nth-of-type(2n){
  background-color: hsla(0, 13%, 87%, 0.5);
}

.rigth-side-list-fb-post{
  width: 100%;
  background-color: blue;
}


@media (min-width: 320px){
  .fb-post {
    overflow: hidden;
    position: relative;
  } 
  
}

