*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;

}

body{
	line-height: 1.5;
	font-weight: 400;
}
body.hidden-scrolling{
	overflow-y: hidden;
}


/* Header 3 payment Section*/
.payment{
	max-width: 100%;
margin-top: 50px;

}
.payment .accept-title{
	margin-left: 44%;
}

.payment-Ewallet-bank{
	display: flex;
	flex-wrap: wrap;
	margin-left: 30%;
	
}
.payment-ewallet .img-ewallet{
      margin-left: -20px;
}

.payment-ewallet .ewallet-header-1{
	padding-left: 80px;
}

.img-ewallet ul img{
	width: 350px;
	height: auto;
}

.payment-Bank  .Bank-header-2{
padding-left: 160px;

}

.payment-Bank .img-Bank{
	padding-left: 140px;
}

.payment-Bank .img-Bank ul img{
	margin: 10px;
	width: 350px;
	height: 60px;
}
.payment-Bank{
	padding-left: 80px;
}

@media (max-width: 320px){

	
	
}










/* end Header 3 payment Section*/

/*header background image start*/
.header-image-Background{
	width: 100%;
	padding-top: 12%;
	position: relative;
	text-align: center;
	color: white;
	font-size: 30px;
}
.header-image-Background p{
	font-size: 20px;
}

.header-image-paragraph{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,0.5);
	width: 100%;

}

/* Navar Section*/

/* Moving text */
.moving-text{
	position: absolute;
	top: 24px;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #fefffd;
	font-weight: 500;
	font-style: unset;
	
}
/*  
.moving-text marquee b{
	color: rgb(65, 62, 62);
}*/

.moving-text marquee span{
	margin-left: 20%;
	font-weight: 600;
	color: rgb(248, 10, 10);
}
@media (max-width: 992px){
	.moving-text{
		font-size: 14px;
	}

}

@media (max-width: 768px){
	.moving-text{
		top: 48px;
	}


}
@media (max-width: 740px){
	.moving-text{
		top: 48px;
	}


}


@media (max-width: 600px){
	.moving-text{
		top: 50px;
	}


}
@media (max-width: 475px){
	.moving-text{
		top: 43px;
	}

}

@media (max-width: 375px){
	.moving-text{
		top: 34px;
	}

}
@media (max-width: 320px){
	.moving-text{
		top: 54px;
	}

}





/*Contact section*/
.header-contact{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: auto;
font-weight: 400;
background-color: #000000; 
}

.headrer-contact-and-map {
display: flex;
flex-wrap: wrap;
}
.headrer-contact-and-map ul{
	margin-left: 54%;
	
}

.headrer-contact-and-map ul li{
	display: inline;
	
	}	

.headrer-contact-and-map span{
	margin-left: 70px;
	
}

.headrer-contact-and-map span a{
	color: white;
}


.headrer-contact-and-map ul li a{
	color: white;
}



@media (max-width: 992px){

	.headrer-contact-and-map span {
		margin-left: 80px;
			
	}

	.headrer-contact-and-map ul{
		margin-left: 16%;
	}
	.headrer-contact-and-map ul li{
		margin-left: 10px;
	}

}

@media (max-width: 740px){


	.headrer-contact-and-map span{
		margin-left: 200px;
			
	}

	.headrer-contact-and-map ul{
		margin-left: 22%;
	}
	.headrer-contact-and-map ul li{
		margin-left: 10px;
	}

}


@media (max-width: 768px){

	.headrer-contact-and-map span{
		margin-left: 200px;
		
			
	}

	.headrer-contact-and-map ul{
		margin-left: 22%;
	}


}
@media (max-width: 600px){
	.header-contact{
		height: auto;
	}

	.headrer-contact-and-map span{
		font-size: 16px;
		margin-left: 140px;
				
	}

	.headrer-contact-and-map ul{
		font-size: large;
		margin-left:  100px;
	}
	

}



@media (max-width: 475px){
	.header-contact{
		height: auto;
	}

	.headrer-contact-and-map span{
		margin-top: 5px;
		font-size: small;
		margin-left: 80px;
			
	}

	.headrer-contact-and-map ul{
		font-size: small;
		margin-left: 45px;
		
	}

}

@media (max-width: 375px){

	.headrer-contact-and-map span{
		margin-top: 5px;
		font-size: x-small;
		margin-left: 90px;
			
	}

	.headrer-contact-and-map ul{
		font-size: x-small;
		margin-left: 60px;
	}
	

}


@media (max-width: 320px){

	.headrer-contact-and-map span{
		font-size: x-small;
		margin-top: 24px;
		margin-left: 60px;
			
	}

	.headrer-contact-and-map ul{
		font-size: x-small;
		margin-left: 30px;
	}

	.headrer-contact-and-map ul li{
		margin-left: 10px;
	}

}




/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 12px;
	background-color: #fd0000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
.header-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}
.logo img{
	border-color: 2px solid #f7f2f2;
    width: 80px;
    height: 50px;
}
.header .logo img{
	margin-top: 40px;

}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: crimson;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	padding-top: 10px;
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	
	display: block;
	padding: 30px 0;
	font-size: 16px;
	color: #000000;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: crimson;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: crimson;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid crimson;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #fafafa34;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}



	@media (min-width: 740px){
		.header .menu > .menu-item-has-children:hover > .sub-menu{
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		 }
		 .header .menu > .menu-item-has-children:hover > a .plus:after{
			transform: translate(-50%,-50%) rotate(0deg);		
		 }
		 .header .menu > .menu-item > a{
			padding-top: 70px;
		}
	
		.header .logo{
			padding-top: 20px;
		}
		.header .open-nav-menu{
			margin-top: 30px;
		}
		}

		@media (min-width: 600px){
			.header .menu > .menu-item-has-children:hover > .sub-menu{
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			 }
			 .header .menu > .menu-item-has-children:hover > a .plus:after{
				transform: translate(-50%,-50%) rotate(0deg);		
			 }
			 .header .logo{
				padding-top: 20px;
			}
			.header .open-nav-menu{
				margin-top: 20px;
			}
			
		
			}
			@media (min-width: 470px){
				.header .menu > .menu-item-has-children:hover > .sub-menu{
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				 }
				 .header .menu > .menu-item-has-children:hover > a .plus:after{
					transform: translate(-50%,-50%) rotate(0deg);		
				 }
				 .header .logo a img{
					margin-top: 20px;
				}
				.header .open-nav-menu{
		
					padding-top: 20px;
				}
			
				}
				@media (min-width: 375px){
					.header .menu > .menu-item-has-children:hover > .sub-menu{
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
					 }
					 .header .menu > .menu-item-has-children:hover > a .plus:after{
						transform: translate(-50%,-50%) rotate(0deg);		
					 }
					 .header .logo a img{
						margin-top: 10px;
					}
					.header .open-nav-menu{
						margin-top: 20px;
					}
				
					}
					@media (min-width: 320px){
						.header .menu > .menu-item-has-children:hover > .sub-menu{
							transform: translateY(0);
							opacity: 1;
							visibility: visible;
						 }
						 .header .menu > .menu-item-has-children:hover > a .plus:after{
							transform: translate(-50%,-50%) rotate(0deg);		
						 }
						 .header .logo a img{
							margin-top: 40px;
						}
						.header .open-nav-menu{
							margin-top: 20px;
						}
					
						}


/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/home.jpg');
	background-position: center top;
	background-size: cover;
}


/* responsive */

@media(max-width: 992px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}

#hide{
visibility: hidden;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}


/* Navar End Section*/
    

/* content Section*/
.container{
max-width: 1200px;
margin: 0 auto;
text-align: center;
}
.heading{
	font-size: 28px;
	margin: 0 auto;
    text-align: center;
    background-color: #000000e3;
    margin-bottom: 20px;
    color: rgb(255, 251, 251);
    padding: 20px 40px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}

.head-style{
    color: red;

}
.heading-Book-Now{
	margin: 0 auto;
    text-align: center;
    color: rgba(12, 12, 12, 0.897);
    padding: 20px 40px;
	font-size: 25px;	
}
@media(max-width: 992px){
	.heading-Book-Now{

		font-size: large;	
	}
}

@media(max-width: 992px){
	.heading{
	font-size: large;
}
}


.container .box-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
gap: 20px;
} 

.container .box-container .box{
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 5px 10px rgba(0,0,0,0.2 );
display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3){
display: inline-block;

}
.container .box-container .box:nth-child(4),
.container .box-container .box:nth-child(5),
.container .box-container .box:nth-child(6){
display: inline-block;

}

.container .box-container .box .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;

    }

    .container .box-container .box .image img{
height: 100%;
width: 100%;
object-fit: cover;

    }

    .container .box-container .box:hover .image img{
       transform: scale(1.1); 
    }
	.container .box-container .box:hover .image img .promo-logo{
		transform: scale(-1.1); 
	 }

    .container .box-container .box .content-box h3{
font-size: 15px;
color: #777;
    }

    .container .box-container .box .content-box p{
        font-size: 20px;
        color: #333;
        line-height: 2;
        padding: 15px 0;
            }
.container .box-container .box .content-box .btn{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #fff;
	background-color: rgb(228, 35, 28);
    color: #fff;
    font-size: 18;
	font-weight: 600;
	
	
}

.container .box-container .box .content-box .btn:hover{
    background-color: crimson;
    border-color: #fff;
    color: gray;
}

.container .box-container .box .content-box .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #334;
	background-color: #fff;
}

.container .box-container .box .content-box .icon span{
font-size: 14px;
color: #777;
}

.container .box-container .box .content-box .icon span i{
    color: rgb(44, 43, 43);
  
    }

    #load-more{
margin-top: 20px;
display: inline-block;
padding: 13px 40px;
border: 1px solid #334;
color: rgb(254, 254, 255);
font-size: 16px;
background-color: #ff0202;
cursor: pointer;
font-weight: 600;

    }
    #load-more:hover{
        background-color: rgb(253, 17, 0);
        border-color: rgb(248, 248, 248);
        color: #7c7676;
    }
  
	@media (max-width:992px){
		.container .box-container .box .content-box p{
			font-size: medium;
		}

		.container{
		padding-top: 30px;
		
		}
	
		
		}
		@media (max-width:740px){
			.container .box-container .box .content-box h3{
				font-size: medium;
				
					}
	
			.container{
			padding-top: 30px;
			
			}
		
			
			}

			@media (max-width:375px){
				.container .box-container .box .content-box h3{
					font-size: medium;
					
						}
		
				.container{
				padding-top: 30px;
				
				}
			
				
				}

				@media (max-width:320px){
					.container .box-container .box .content-box h3{
						font-size: small;
						
							}
			
					.container{
					padding-top: 30px;
					
					}

					.container .box-container .box .image img{
						height: 90%;
						width: 90%;
						object-fit: cover;
						
							}

				
.container .box-container .box{
	width: 90%;
	height: 100%;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2 );
	display: none;
	}			
				
					
					}


/* content end Section*/


/* start terms and conditions Section*/
#termsAndconditions{
	background-color: rgba(128, 128, 128, 0.5);
	margin: 50px 50px ;
	border-radius: 20px;
	width: 80%;
	height: 60px;
	text-align: center;
	padding-top: 8px;
}


/* end terms and conditions Section*/

/* banner  Section*/
.banner{
background-position: center;
background-image: url(image/CCLEX.jpg);
background-size: cover;
background-attachment: fixed;
padding: 20px 0 20px 0;
margin-top: 40px;
}

.banner-highlights{
padding: 10% ;
background: rgba(0,0,0,0.7);
text-align: center;
color: #fff;

}

.booking-btn{
width: 120px;
padding: 8px 0;
outline: none !important;
border: 2px solid #fff;
border-radius: 50px;
background: transparent;
color: #fff;
margin-top: 20px;

}
.booking-btn a{
	color: #fff;
}



/* banner 1 Section*/
.banner-1{
    background-position: center;
    background-image: url(image/CCLEX.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10% 0 10% 0;
    margin-top: 120px;
    }
    
    .banner-highlights-1{
    padding: 12%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    
    }

    .container-1 h2{
        font-size: 40px;
    }

	.container-1 p{
        font-size: 20px;
    }

	@media (max-width: 475px){
        .banner-1{
			margin-top: 160px;
		}

		.container-1 h2{
			font-size: large;
		}
	
		.container-1 p{
			font-size: small;
		}

	}
    
    

    /* Header 2 Section*/
.header-2{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;

	
}

.header-text{
    text-align: center;
    color: #333 ;
    font-size: 22px;
	
}


.header-list ul{
padding: 10px;
text-align: center;

}

.header-list li{
    display: inline;
    list-style: none;
    margin: 20px;
    font-size: 20px;

    
    }

    .header-list ul li a{
       text-decoration: none;
       color: rgb(46, 44, 44);
       border: 2px solid #333;
       border-radius: 12px;
       padding: 10px 60px;
       margin: 10px; 
        }

		@media (max-width: 475px){
.header-title{
	margin: 20px;
}
.header-title h2{
	font-size: large;
}
		

}

	
/* banner  End Section*/

/* footer Reviews*/
.footer{
    padding: 50px 20px 20px;
    background-image: linear-gradient(#0f0f0faf,#49484896);
    color: #fff;

}


.footer-logo{
width: 75px;
height: 50px;
margin-top: 15px;
margin-bottom: 15px;

}

.footer h4{
text-align: left;
margin-top: 15px;
margin-bottom: 25px;
}

.footer p{
    font-size: 14px;
    text-align: justify;
	
}

.footer p a{
	margin-left: 15px;
}
.footer .row .fa{
padding-right: 10px;
font-size: 20px;
}
.footer .fa-phone-square img{
    width: 20px;
    height: 20px;
}
.footer .fa-enevelope img{
    width: 20px;
    height: 20px;

}

.footer .fa-home img{
    width: 20px;
    height: 20px;

}
.footer .fa-facebook img{
    width: 20px;
    height: 20px; 
	
}

.footer .fa-youtube-play img{
    width: 20px;
    height: 20px; 
}


.footer .fa-instagram img{
    width: 20px;
    height: 20px;

}

.row .col-md-3 p a{
	color: #ffffff;
	
}

@media (max-width: 740px){
	.row .col-md-3 p i a{
		color: #ffffff;
		padding-left: 10px;
	}
}



/* footer end Reviews*/

/*start google reviews*/
.google-reviews{
	display: flex;
	margin-top: 50px;

}
.google-reviews .reviews-row ul{
	display: flex;
	flex-wrap: wrap;
    margin-left: 180px;
	margin-top: 20px;
	 

}
.google-reviews .reviews-row ul li{
	display: inline-flex;
	margin: 20px;

}
.google-reviews .reviews-row ul li img{
	width: 320px;
	height: auto;
}
.reviews-btn{
	
	margin-left: 740px;
}
.reviews-btn .booking-btn{
	color: #000000;
	border: 1px solid crimson;
	
}

.booking-btn{
	background-color:  rgb(253, 17, 0);
}
.reviews-btn .booking-btn a{
	font-weight: 600;
	color: #fff;
}

.reviews-btn .booking-btn:hover{
	background-color: crimson;
	border-color: rgb(248, 248, 248);
	color: #fff;
}

.reviews-star{
	margin-left: 740px;
}
.reviews-star h2{
	margin-left: 12px;
}
.reviews-star span{
	margin-left: 20px;
}

@media (max-width:992px){
	.google-reviews .reviews-row ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: 20px;
		margin-top: 20px;
		
	}
	.reviews-star{
		margin-left: 100px;
	}
	.google-reviews .reviews-row ul li img{
		width: 340px;
	     height: 300px;
		
	}
	.reviews-btn{
	
		margin-left: 80px;
	}

}

@media (max-width:740px){
	.google-reviews .reviews-row ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: 180px;
		margin-top: 20px;
		
	}
	.reviews-star{
		margin-left: 260px;
	}
	.google-reviews .reviews-row ul li img{
		width: 340px;
	     height: 300px;
		
	}
	.reviews-btn{
	
		margin-left: 260px;
	}

}
@media (max-width:600px){
	.google-reviews .reviews-row ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: 120px;
		margin-top: 20px;
		
	}
	.reviews-star{
		margin-left: 200px;
	}
	.google-reviews .reviews-row ul li img{
		width: 340px;
	     height: 300px;
		
	}
	.reviews-btn{
	
		margin-left: 200px;
	}

}
@media (max-width:475px){
	.google-reviews .reviews-row ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: 60px;
		margin-top: 20px;
		
	}
	.reviews-star{
		margin-left: 130px;
	}
	.google-reviews .reviews-row ul li img{
		width: 340px;
	     height: 300px;
		
	}
	.reviews-btn{
	
		margin-left: 130px;
	}

}
@media (max-width:470px){
	.google-reviews .reviews-row ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: 50px;
		margin-top: 20px;
		
	}
	.reviews-star{
		font-size: small;
		margin-left: 110px;
	}

	.reviews-star h2{
		margin-left: 30px;
	}

	.reviews-star .fa-star{
		font-size: medium;
	
	}
	.google-reviews .reviews-row ul li img{
		width: 300px;
	     height: auto;
		
	}
	.reviews-btn{
	
		margin-left: 110px;
	}
	.reviews-btn .booking-btn a{
		font-size: x-small;
	}
	.reviews-btn #reviews-btn-1{
border-radius: 15px;
width: 30%;
height: auto;
	}
	.reviews-btn #reviews-btn-2{
		border-radius: 15px;
		width: 30%;
		height: auto;
			}
	

}
@media (max-width:375px){
	.google-reviews .reviews-row ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: 10px;
		margin-top: 20px;
		
	}
	.reviews-star{
		margin-left: 80px;
	}
	.google-reviews .reviews-row ul li img{
		width: 340px;
	     height: 300px;
		
	}
	.reviews-btn{
	
		margin-left: 80px;
	}
	.reviews-btn .booking-btn a{
		font-size: x-small;
	}
	.reviews-btn #reviews-btn-1{
border-radius: 15px;
width: 30%;
height: auto;
	}
	.reviews-btn #reviews-btn-2{
		border-radius: 15px;
		width: 30%;
		height: auto;
			}

}
@media (max-width:320px){

	.google-reviews .reviews-row ul li img{
		width: 120px;
		height: 80px;
	}
	.google-reviews .reviews-row ul{
		display: flex;
		flex-wrap: wrap;
		margin-left: 30px;
		margin-top: 20px;
		
	}
	.reviews-star .fa-star{
		font-size: small;
	
	}

	.reviews-star h2{
		font-size: large;
		margin-left: 30px;
	}
	.google-reviews .reviews-row ul li img{
		width: 250px;
	     height: auto;
		
	}
	.reviews-btn{
		margin-left: 80px;
	}
 
	.reviews-btn .booking-btn a{
		font-size: x-small;
	}
	.reviews-btn #reviews-btn-1{
border-radius: 15px;
width: 30%;
height: auto;
	}
	.reviews-btn #reviews-btn-2{
		border-radius: 15px;
		width: 30%;
		height: auto;
			}
}
/*end google reviews*/



/* Start back to top*/
#back-to-top-btn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 26px;
	width: 50px;
	height: 50px;
	margin-bottom: 10%;
	background-color: rgb(235, 232, 232);
	color: #585656;
	cursor: pointer;
	outline: none;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
}
#back-to-top-btn img{
	width: 40px;
	height: 40px;
}

#back-to-top-btn:hover, #back-to-top-btn:focus{
	background-color: rgb(248, 6, 6);
	color: #f7f2f2;
}

@media(max-width: 992px) {
	#back-to-top-btn {
		font-size: 10px;
		width: 50px;
		height: 50px;
		top: 80%;
	}
	#back-to-top-btn img{
		width: 40px;
		height: 40px;
	}
	
	
}

/* Start Promo logo*/
.promo-logo {
	position: absolute;
	margin: 20px 30px;

}
.promo-logo .fa{
font-size: 90px;
color: red;
}
.promo-logo b{
	color: #f7f2f2;
	font-size: 20px;
	position: absolute;
	margin: 20px -65px;
	transform: skew(10deg, -20deg);
	
}
.promo-logo b p{
font-size: 12px;	
margin-top: -10px;
}
@media (max-width:992px){
	.promo-logo{
		margin: 20px 40px;
	}
	.promo-content{
		margin: 10px;
	}
	
	.promo-content{
		margin: 50px;
	}
}

@media (max-width:992px){
	
	.promo-content{
		margin: 20px;
	}
	
	.container .box-container .box:hover .image img .promo-logo{
		transform: scale(-1.1); 
   }
}

